%table{:align => "center", :style => "margin-top: 20px"}
  %tr
    %td Search Books
    %td
      = form_tag root_path do
        = text_field_tag :input_value
        = submit_tag 'Submit', :onclick => "return validate_form()", :remote => true