.page-header
  %h1
    %span Book Store Application
    %small Using Google Books API
%table{:class=>"main-table"}
  %tr
    %td
      = form_tag root_path do
        %div.wrapperForm
          = text_field_tag :input_value
          = submit_tag 'Search Books', :onclick => "return validate_form()" , :class=>"btn btn-primary", :style => "margin-left :10px;"