<table>
  <tr>
    <td>
      <div id="display_form">
        <%= render :partial => "search_books" %>
      </div>
    </td>
  </tr>
</table>
<div id="display_books">
  <%= render :partial => "books" %>
</div>